@{
    ViewData["Title"] = "Home Page";
}
<div id="first" class="text-center">
    <form asp-action="WordsList" asp-controller="Home" method="POST" data-ajax="true" data-ajax-update="#results">
        <div class="wrapper">
            <div class="left_block">
                @Html.Label("Text")
        </div>
        <div class="right_block">
            <textarea id="txtar" name="txtar"></textarea>
            <input type="submit" value="Submit" class="button" />
        </div>
    </div>
</form>
</div>
<div id="results"></div>

